In [64]:
import pandas as pd

# Diferencia en el orden de eventos

In [61]:
df_matches = pd.read_csv("data/aago/aago_original_filtered.csv")
df_matches["event_id"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8, 10, 11, 13,  9, 12, 14, 15, 17, 16,
       18, 19, 21, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 40, 39, 41, 43, 42, 44, 45, 46, 47, 48, 50, 49, 51,
       52, 53, 54, 55, 74, 57, 58, 60, 56, 59, 61, 63, 62, 64, 66, 65, 67,
       68, 70, 69, 71, 73, 75])

In [62]:
df_raago = pd.read_csv("data/aago/raago.csv",
                       names=["id", "mu", "sigma", "event_id", "player"])
df_raago["event_id"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8, 10, 11, 13,  9, 12, 14, 15, 17, 16,
       18, 19, 21, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 40, 39, 41, 43, 42, 44, 45, 46, 47, 48, 50, 49, 51,
       52, 53, 54, 55, 74, 57, 58, 60, 56, 59, 61, 63, 62, 64, 66, 65, 67,
       68, 70, 69, 71, 73, 75])

In [63]:
(df_matches["event_id"].unique() == df_raago["event_id"].unique()).all()

True

# Diferencia entre las estimaciones

In [65]:
df = pd.read_csv("estimations/raago_tobi/posteriors.csv", index_col=['event_id','player']).sort_index()
df

                  day        mu     sigma
event_id player
1        1          1 -13.50000  2.191440
         2          1   4.50000  1.059470
2        1          3  -2.29463  1.007400
         2          3   1.87996  0.771821
3        3          4  -4.49938  1.449990
...               ...       ...       ...
75       178     2862 -14.22970  0.489471
         216     2862 -18.09300  0.573191
         218     2862 -16.65060  0.312089
         223     2862 -27.35860  2.285850
         231     2862  -3.48612  0.791617

[1498 rows x 3 columns]

In [66]:
df_original = pd.read_csv("data/aago/raago.csv",
                          names=["id", "mu", "sigma", "event_id", "player"],
                          index_col=['event_id','player']).sort_index()
df_original

                    id        mu     sigma
event_id player
1        1       92053 -13.50000  2.191440
         2       92054   4.50000  1.059470
2        1       92055  -2.29463  1.007400
         2       92056   1.87996  0.771821
3        3       92057  -4.49938  1.449990
...                ...       ...       ...
75       178     93546 -14.22970  0.489466
         216     93547 -18.09260  0.573162
         218     93548 -16.65050  0.312075
         223     93549 -27.35870  2.285830
         231     93550  -3.48611  0.791617

[1498 rows x 3 columns]

In [67]:
dfj = df.join(df_original, how="inner", rsuffix="_original")
dfj

                  day        mu     sigma     id  mu_original  sigma_original
event_id player
1        1          1 -13.50000  2.191440  92053    -13.50000        2.191440
         2          1   4.50000  1.059470  92054      4.50000        1.059470
2        1          3  -2.29463  1.007400  92055     -2.29463        1.007400
         2          3   1.87996  0.771821  92056      1.87996        0.771821
3        3          4  -4.49938  1.449990  92057     -4.49938        1.449990
...               ...       ...       ...    ...          ...             ...
75       178     2862 -14.22970  0.489471  93546    -14.22970        0.489466
         216     2862 -18.09300  0.573191  93547    -18.09260        0.573162
         218     2862 -16.65060  0.312089  93548    -16.65050        0.312075
         223     2862 -27.35860  2.285850  93549    -27.35870        2.285830
         231     2862  -3.48612  0.791617  93550     -3.48611        0.791617

[1498 rows x 6 columns]

In [75]:
dfj["mu_diff"] = dfj["mu"] - dfj["mu_original"]
dfj["mu_diff"].describe()

count    1498.000000
mean       -0.000013
std         0.000176
min        -0.001800
25%        -0.000040
50%         0.000000
75%         0.000020
max         0.001400
Name: mu_diff, dtype: float64

In [76]:
dfj["sigma_diff"] = dfj["sigma"] - dfj["sigma_original"]
dfj["sigma_diff"].describe()

count    1.498000e+03
mean     1.782377e-07
std      3.491200e-05
min     -4.400000e-04
25%     -2.000000e-06
50%      0.000000e+00
75%      5.000000e-06
max      4.600000e-04
Name: sigma_diff, dtype: float64

In [71]:
dfj[abs(dfj["mu_diff"]) > 0.001]

                  day       mu    sigma     id  mu_original  sigma_original  \
event_id player
5        26      1490 -13.8467  1.47584  92077     -13.8452         1.47618
6        26      1510 -14.0598  1.04468  92091     -14.0587         1.04482
7        26      1512 -14.0601  1.04466  92113     -14.0590         1.04480
36       127     2133 -27.0278  2.75991  92616     -27.0292         2.75945
41       148     2190 -11.6233  1.74113  92725     -11.6221         1.74139
48       178     2323 -23.4698  1.94971  92989     -23.4686         1.95015
65       212     2722 -15.5722  1.41832  93397     -15.5712         1.41837
70       178     2775 -20.2620  1.15439  93437     -20.2602         1.15456
         216     2775 -20.1789  1.24244  93441     -20.1777         1.24252

                 mu_diff
event_id player
5        26      -0.0015
6        26      -0.0011
7        26      -0.0011
36       127      0.0014
41       148     -0.0012
48       178     -0.0012
65       212     -0.0010
70       178     -0.0018
         216     -0.0012

In [72]:
dfjr = dfj.reset_index()
dfjr[dfjr["player"] == 26]

,event_id,player,day,mu,sigma,id,mu_original,sigma_original,mu_diff
24,5,26,1490,-13.84670,1.475840,92077,-13.84520,1.476180,-0.00150
38,6,26,1510,-14.05980,1.044680,92091,-14.05870,1.044820,-0.00110
60,7,26,1512,-14.06010,1.044660,92113,-14.05900,1.044800,-0.00110
133,14,26,1644,-14.13430,0.981857,92186,-14.13340,0.981919,-0.00090
147,15,26,1707,-14.21100,0.926259,92200,-14.21020,0.926275,-0.00080
170,17,26,1721,-7.90191,0.813467,92209,-7.90190,0.813467,-0.00001
192,18,26,1748,-9.30354,0.661372,92245,-9.30353,0.661372,-0.00001
226,19,26,1770,-8.46133,0.699291,92279,-8.46132,0.699289,-0.00001
246,21,26,1770,-7.04085,0.589706,92293,-7.04085,0.589704,0.00000
499,34,26,2106,-7.59773,0.519888,92552,-7.59772,0.519887,-0.00001
537,35,26,2112,-7.59778,0.519714,92590,-7.59777,0.519713,-0.00001
636,41,26,2190,-8.59756,0.469958,92689,-8.59753,0.469958,-0.00003
690,42,26,2225,-9.07037,0.415567,92783,-9.07030,0.415567,-0.00007